  <div id="infobulle-<%= event.id %>" class="infobulle hidden-infobulle">
    <h4 class="text-center"><%= event.title %></h4>
    <hr>
    <div class="text-center"><%= image_tag(event.photo_url, class: 'image-infobulle') %></div>
    <hr>
    <div><p><%= event.content %></p></div>
  </div>
