<div id="wrapper-map">
  <div id="sidebar">
    <div class="active-block-indicator"></div>
    <div id="wrapper-blocks">
      <% counter = 0 %>
      <% @story.blocks.each do |block| %>
        <div class="block" data-index=<%= counter %>>
          <%= block.title %>
        </div>
        <% counter += 1 %>
      <% end %>
    </div>
  </div>
</div>
