<div id="timeline">
  <div class="event opacity-none"></div>
  <div class="interval"></div>
  <div class="event"></div>
  <div class="interval"></div>
  <div class="event"></div>
  <div class="interval"></div>
  <div class="event"></div>
</div>


