
.btn-review {
  background-color: white;
  color: black;
  margin-left: 8px;
  padding: 6px;
  border-radius: 4px;
  text-decoration: none;
  border: solid .8px rgb(51, 45, 45);
}

.btn-review:hover {
  color: white;
  background-color: rgb(51, 45, 45);
  text-decoration: none;
}

.fb-btn {
  position: absolute;
  bottom: 0px;
  right: 0px;
  margin: 20px;
  position: fixed;
  bottom: -4px;
  right: 10px;
  z-index: 97;

}
