.story-edit-div {
  position: absolute;
  margin: 20px;
  opacity: 0.9;
  border-radius: 10px;
  top: 50px;
  left: 10px;
  z-index: 97;
  background-color: white;
  width: 330px;
  padding: 10px;
  overflow-y: scroll;
  max-height: 623px;
}

.edit-page {
  position: relative;
}

.block-item {
  cursor: pointer;
  border-radius: 10px;
  background-color: $light-gray;
  padding-left: 7px;
}

.events-list {
  padding-left: 25px;
}

.edit-title {
  color: $success-green;
}

.add-event-link {
  color: $success-green;
}

.btn-block {
  margin-bottom: 2px;
}
.edit-block {
  color: white;
}

.trash-block {
  color: white;
}

.edit-event {
  color: $gray;
}
.trash-event {
  color: $gray;
}

#blocks-list {
  padding: 1px;
  list-style-type: none;
}
