.story-edit-div {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0.9;
  z-index: 97;
  background-color: $light-gray;
  width: 30vw;
  overflow-y: scroll;
  border-right: 1px solid darken($light-gray, 30%);
}

.story-head {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  h4 {
    margin-left: 20px;
  }
}

#img-story {
  width: 120px;
  padding: 3px;
  box-shadow: 0 0 5px $darken-blue;
  border-radius: 15px;
}

#info-div {
  position: absolute;
  top: 0;
  right: 0;
  width: 70vw;
  height: 35vh;
  background-color: $light-gray;
  border-bottom: 1px solid darken($light-gray, 30%);
  z-index: 97;
  opacity: 0.9;
  padding: 20px;
}

.btn-unstyled {
  text-decoration: none;
  border: none;
  background: none;
}

.btn-flex {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: darken($light-gray, 60%);
  height: 40px;
  padding: 5px 20px;
  a {
    display: none;
  }
  > span {
    display: flex;
    align-items: center;
    > i {
      color: darken($light-gray, 15%);
    }
    > span {
      font-size: 20px;
      margin-left: 10px;
      font-weight: lighter;
    }
  }
  &:hover {
    color: black;
    background-color: darken($light-gray, 5%);
  }
  &:focus {outline:0;}
}

.active-block {
  color: black;
  a {
    display: block;
  }
  > i:before {
    content: "\f077" !important;
  }
}

.default-msg {
  color: darken($light-gray, 60%);
  font-weight: lighter;
}

.events-list {
  li {
    position: relative;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2px 0;
    padding: 15px 20px;
    padding-left: 38px;
    &:hover {
      i:before {
        content: "\f054";
      }
    }
    i:before {
      content: "";
    }
    span {
      height: 20px;
      font-size: 16px;
      font-weight: lighter;
    }
  }
}

.add-event-div {
  background: white;
  a {
    margin-left: 38px;
  }
  padding: 10px 0 10px 0;
  margin: 0;
}

.event-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 98;
}

.event-img {
  height: 100%;
}

.show-event-div {
  display: flex;
  height: 100%;
  img {
    margin-right: 20px;
    box-shadow: 0 0 2px black;
    border-radius: 15px;
  }
}

.show-event-info {
  max-height: 100%;
  overflow-y: scroll;
  #title {
    font-size: 24px;
    font-weight: 500;
  }
  #event-description{
    font-weight: 100;
    margin-top: 10px;
    font-size: 16px;
  }
}

.story-options {
  display: flex;
  justify-content: center;
  margin: 10px 0 20px 0;
}

.event-buttons {
  padding: 0;
  font-size: 24px;
  margin-bottom: 13px;
  .btn-storymap {
    margin-left: 0;
  }
}
