.story-edit-div {
  position: absolute;
  margin: 20px;
  opacity: 0.9;
  border-radius: 10px;
  top: 50px;
  bottom: 0px;
  left: 10px;
  z-index: 97;
  background-color: white;
  width: 330px;
  padding: 10px;
  overflow-y: scroll;
}

.edit-page {
  position: relative;
}

.block-item {
  cursor: pointer;
  border-radius: 10px;
  background-color: $light-gray;
  padding-left: 7px;
}

.events-list {
  padding-left: 25px;
}

#blocks-list {
  padding: 1px;
  list-style-type: none;
}
