#home-container {
  margin: 80px 25px 25px 25px;
  background: white;
  min-height: calc(100vh - 80px - 25px);
}

#home-head {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 50px;
  margin-bottom: 400px;
}

.head-text-container {
  width: 500px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.head-text {
  h1 {
    color: $blue;
    font-weight: bold;
    font-size: 4em;
  }
  h3 {
    margin-top: 0;
    font-weight: 500;
    font-size: 1.5em;
    margin-bottom: 35px;
  }
  p {
    font-weight: 300;
    color: darken($light-gray, 45%);
  }
}

.head-link {
  display: flex;
  flex-direction: column;
}

#wrapper-blue {
  background-color: $blue;
  border-radius: 15px;
  height: 50vh;
  position: relative;
  display: flex;
  justify-content: center;
}

#wave {
  position: absolute;
  width: 100%;
  top: 40vh;
}

.container-media {
  width: 980px;
  height: 550px;
  background: white;
  z-index: 100;
  position: relative;
  top: -275px;
  border-radius: 15px;
  box-shadow: 0 0 30px darken($light-gray, 40%);
}

#steps {
  h2 {
    padding-top: 300px;
    background: $light-gray;
    width: 100%;
    margin: auto;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 2.7em;
  }
}

.step {
  position: relative;
  background: $light-gray;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  img {
    position: absolute;
    height: 100%;
    width: 100%;
  }
}

#last {
  position: relative;
  background: $light-gray;
  height: 60vh;
  img {
    height: 52%;
    width: 100%;
    position: absolute;
    top: 0;
  }
}

.gif-container {
  border-radius: 15px;
  width: 650px;
  height: 350px;
  background: white;
  box-shadow: 0 0 30px darken($light-gray, 30%);
  z-index: 500;
}

.step-text {
  width: 550px;
  z-index: 500;
  background: $light-gray;
  h3 {
    color: $blue;
    font-size: 2em;
    margin-bottom: 30px;
    font-weight: bold;
    margin-top: 5px;
  }
  p {
    letter-spacing: 1px;
    line-height: 30px;
    color: darken($light-gray, 50%);
  }
}

#home-end {
  height: 400px;
  width: 100%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.end-text-container {
  width: 500px;
  h3 {
    margin-bottom: 30px;
    font-weight: bold;
    letter-spacing: 1px;
  }
}

.gif-container {
  width: 659px;
  height: 350px;
  border-radius: 13px;
  background-size: cover;
  background-position: center;
}

.step img {
  position: absolute;
  height: 360px;
  width: 659px;
  border-radius: 15px;
}
