.wrapper-index {
  background: white;
  padding-bottom: 50px;
  padding-top: 20px;
  margin-top: 80px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: auto;
}

.header-font {
    color: $blue;
    font-weight: bold;
    font-size: 3em;
}
