<% story = @story if @story %>
<% block = @block if @block %>


<div id="myoverlay" class="overlay">
  <span class="closebtn" title="Close Overlay"><i class="fas fa-times"></i></span>
  <div class="overlay-content">
    <%= simple_form_for [story, block], remote: true do |f| %>
      <%= f.input :title, label: false, input_html: { class: 'myclass' } %>
      <%= f.submit class: "btn-lg btn-storymap btn-storymap-blue text-center" %>
    <% end %>
  </div>
</div>


