<div id="navbar-storymap">

  <%= link_to root_path do %>
    <%= image_tag "logo_blue.png", height: 40 %>
  <% end %>

  <div id="navbar-storymap-right">
    <div id="wrap">
      <form action="" autocomplete="off">
      <input id="search" name="search" type="text" placeholder="What're we looking for ?"><input id="search_submit" value="Rechercher" type="submit">
      </form>
    </div>
    <% if user_signed_in? %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'btn-storymap btn-storymap-blue'%>
    <% else %>
      <%= link_to "Log In", user_session_path, class: 'btn-storymap btn-storymap-green' %>
    <% end %>
  </div>

</div>
