<div class="nested-fields">
  <%= f.association :zone, collection: Zone.order(:country), label_method: :country, value_method: :id %>
  <%= f.input :color, as: :select, collection: [:red, :green, :blue] %>
  <%= link_to_remove_association "remove Zone", f %>
</div>
