<% content_for :meta_title, "Dashboard | #{DEFAULT_META["meta_product_name"]}" %>

<%= render 'shared/navbar' %>

<div class="wrapper-dashboard">
  <div class="large-dashboard-container">

    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active nav-tab"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" class="tab-link">My Published StoryMaps</a></li>
      <li role="presentation" class="nav-tab"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" class="tab-link">My Drafts</a></li>
    </ul>

    <div class="container dashboard-container">
    <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
          <div class="container widget">
            <div class="row">
              <div class="col-xs-12">
                <% if current_user.stories.where(published: true).blank? %>
                    <h2 id="publish-story-center">Publish your first Storymap in <i>My Drafts</i></h2>
                <% else %>
                  <% current_user.stories.where(published: true).each do |story| %>
                    <%= render partial: "shared/card", locals: { story: story } %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <% if  current_user.stories.where(published: false).blank? %>
                  <div id="dashboard-button-create">
                    <%= link_to "Create new Storymap", new_story_path, class: "btn-lg btn-storymap btn-storymap-green text-center" %>
                  </div>
                <% else %>
                  <% current_user.stories.where(published: false).each do |story| %>
                    <%= render partial: "shared/card", locals: { story: story } %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
