<%= render 'shared/navbar' %>

<div class="wrapper-dashboard">
  <div class="large-dashboard-container">

    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active nav-tab"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" class="tab-link">My Published StoryMaps</a></li>
      <li role="presentation" class="nav-tab"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" class="tab-link">My Drafts</a></li>
    </ul>

    <div class="container dashboard-container">
    <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
          <div class="container widget">
            <div class="row">
              <div class="col-xs-12">
                <% current_user.stories.where(published: true).each do |story| %>
                  <%= render partial: "shared/card", locals: { story: story } %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="profile">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <% current_user.stories.where(published: false).each do |story| %>
                  <%= render partial: "shared/card", locals: { story: story } %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>
<br>
<br>
<br>
