<div
  id="map"
  data-markers="<%= @all_markers.to_json %>" >
</div>

<%= link_to "Home", root_path, class:'btn-storymap btn-storymap-green text-center zindex-top' %>
<%= render 'components/sidebar' %>
<%= render 'components/timeline' %>

