/* Main navbar */
.burger {
  background: rgba(0,0,0,0);
  transition: all 0.3s ease;
  height: 70px;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  .story-title {
    font-family: montserrat;
    font-size: 1.2em;
    font-weight: bold;
    position: relative;
    bottom: 3px;

  }
}


.burger-fixed-top {
  @extend .navbar-fixed-top;
  left: auto;
}


/* Right section */
.burger-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Basic navbar item */
.burger-item {
  cursor: pointer;
  padding: 0 20px;
}

/* Navbar link */
.burger-link {
  color: #616668;
  font-size: 14px;
}
.burger-link:hover {
  color: #da552f;
  text-decoration: none;
}

/* Dropdown menu */
.burger-dropdown-menu {
  margin-top: 15px;
  box-shadow: 1px 1px 4px #E6E6E6;
  border-color: #E6E6E6;
}
.burger-dropdown-menu li > a {
  transition: color 0.3s ease;
  font-weight: lighter !important;
  color: #999999 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  padding: 10px 20px;
}
.burger-dropdown-menu li > a:hover {
  background: transparent !important;
  color: black !important;
}
.burger-dropdown-menu:before {
  content: ' ';
  height: 10px;
  width: 10px;
  position: absolute;
  right: 10px;
  top: -6px;
  background-color: white;
  transform: rotate(45deg);
  border-left: 1px solid #E6E6E6;
  border-top: 1px solid #E6E6E6;
}

.fa-bars {
  font-size: 23px;
}
