.btn-storymap-green {
  background: $green;
}

.btn-storymap-blue {
  background: darken($blue, 30%);
}

.btn-storymap {
  font-size: 15px;
  margin: 0 20px 0 20px;
  color: white;
  padding: 10px 22px;
  border-radius: 30px;
  text-decoration: none;
  transition: transform 300ms cubic-bezier(.694,0,.335,1),-webkit-transform 300ms cubic-bezier(.694,0,.335,1);
  &:hover {
    transform: scale(1.04);
    text-decoration: none;
    color: white;
  }
}

.btn-lg {
  width: 300px;
  margin-left: 0;
  margin-bottom: 15px;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
