.carousel {
  height: 500px;
  width: 598px;
}

.modal-dialog {
  margin-top: 100px
}

.carousel-control.left {
  background-image: none;
}

.carousel-control.right {
  background-image: none;
}

.item {
  .btn-lg {
    position: relative;
    bottom: 187px;
    left: 231px;
    cursor: pointer;
  }
}
