.myclass-create-story {
  border-top: none;
  border-right: none;
  border-left: none;
  margin-bottom: 50px;
  margin-top: 50px;
  box-shadow: none;
  &:focus {
    box-shadow: none;
  }
}

.myclass {
  border-top: none;
  border-right: none;
  border-left: none;
  box-shadow: none;
}


.address-input {
  font-size: 35px;
}


.zone-button {
  margin-top: 50px;
  margin-left: 808px;
  width: 300px;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}

.form-container input {
  border-bottom: 1px solid black !important;
  font-weight: bolder;
  &::placeholder {
    color: black;
    opacity: 1;
    font-weight: bolder;
  }
}

.form-container textarea {
  border-bottom: 1px solid black !important;
  font-weight: bolder;
  &::placeholder {
    color: black;
    opacity: 1;
    font-weight: bolder;
  }
}

.story-button {
  margin-top: 50px;
  margin-left: 808px;
}
