.myclass-create-story {
  border-top: none;
  border-right: none;
  border-left: none;
  margin-bottom: 50px;
  margin-top: 50px;
  box-shadow: none;
}

.myclass {
  border-top: none;
  border-right: none;
  border-left: none;
  box-shadow: none;
}


.address-input {
  font-size: 35px;
}
