.infobulle {
  position: absolute;
  margin: 20px;
  border-radius: 5px;
  top: 50px;
  left: 200px;
  z-index: 97;
  background-color: white;
  width: 750px;
  padding: 10px;
  max-height: 75vh;
  visibility: hidden;
  overflow-y: scroll;
  padding: 20px;
  box-shadow: 0 0 3px lightgray;
  p {
    font-family: 'Merriweather', sans-serif;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 170%;
    white-space: pre-wrap;
  }
  h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-top: -15px;
    margin-bottom: 20px;
  }
  h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 15px;
    color: #484848 ;
  }
}

.close-infobulle.fa-times {
  position: relative;
  left: 703px;
  top: -12px;
  color: #484848 ;
  cursor: pointer;
}

.image-infobulle-thumbnail {
  margin-right: 15px;
  height: 205px;
  margin-top: 6px;
  cursor: pointer;
  float: left;
}

.image-infobulle {
  max-width: 95vw;
  max-height: 95vh;
}

.separator-line {
  margin: 0 auto;
  height: 1.4px;
  background-color: rgba(0,0,0,0.3);
  width: 650px;
}

.show-infobulle {
  visibility: visible;
}

.event-content-container {
  position: relative;
  i {
    position: absolute;
    color: white;
    opacity: 0.6;
    top: 9px;
    left: 6px;
  }
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
    pointer-events:none; /* This makes sure that we can still click outside of the modal to close it */
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;
}
.modal-content {
    /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
    width:inherit;
    max-width:inherit; /* For Bootstrap 4 - to avoid the modal window stretching full width */
    height:inherit;
    /* To center horizontally */
    margin: 0 auto;
    pointer-events: all;
}

.modal-dialog {
  display: flex;
  justify-content: center;
}

.modal {
  z-index: 100001 !important;
}


