/*The overlay effect with black background */
.overlay {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  overflow-y: scroll;
  background: rgba(white, 0.9); /* Old browsers */
  // background: -moz-linear-gradient(-45deg, rgba($green, 0.93) 0%, rgba($blue, 0.93) 100%); /* FF3.6-15 */
  // background: -webkit-linear-gradient(-45deg, rgba($green, 0.93) 0%,rgba($blue, 0.93) 100%); /* Chrome10-25,Safari5.1-6 */
  // background: linear-gradient(135deg, rgba($green, 0.9) 0%,rgba($blue, 0.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6ff003d', endColorstr='#e68f00b3',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}
/* The content */
.overlay-content {
  position: relative;
  font-weight: bold;
  top: 18%;
  // width: 80%;
  text-align: left;
  margin-top: 30px;
  margin: auto;
}
.overlay-content p{
  color: black;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 4px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: black;
    opacity: 0.6; /* Firefox */
}
/* Close button */
.overlay .closebtn {
  position: absolute;
  top: 100px;
  right: 130px;
  font-size: 35px;
  cursor: pointer;
  color: black;
}
.overlay .closebtn:hover {
  color: #ccc;
}
/* Style the search field */
.overlay input[type=text] {
  color: black;
  font-size: 28px;
  border: 1px solid lightgray;
  float: left;
  // width: 90%;
  height: 72px;
  background: none;
  border-top: none;
  border-right: none;
  border-left: none;
  margin-bottom: 34px;
  &:focus {
    box-shadow: none;
  }
}

.overlay textarea {
  color: black;
  font-size: 18px;
  float: left;
  // width: 90%;
  height: 100px;
  background: none;
  margin-bottom: 40px;
  border: 1px solid lightgray;
  border-radius: 4px;
  &:focus {
    box-shadow: none;
  }
}

.pac-container {
  z-index: 100000 !important;
}

.overlay input[type=url] {
  background: none;
  color: black;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 25px;
  height: 65px;
  &:focus {
    box-shadow: none;
  }
}

.overlay input[type=date] {
  &:focus {
    box-shadow: none;
  }
}


.event_address  {
  height: 80px;
}

#event_address  {
  font-size: 20px;
  height: 50px;
}

#event_date {
  background: none;
  color: lightgray;
  font-size: 20px;
}


.form-group {
  margin-bottom: 4px;
}

.overlay-container {
  width: 800px;
}


// .btn-edit-event-form {
//   position: relative;
//   bottom: 55px;
// }
