#timeline {
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: none;
  padding: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 3px solid #00D86E;
  opacity: 0.4;
  transition: opacity 200ms linear 0ms;
  &.is-active {
    opacity: 1;
  }
  &:hover {
    cursor: pointer;
    opacity: 1;
  }
  &:hover > .event-title {
    visibility: visible;
  }
  &.start {
    width: 13px;
    height: 13px;
  }
  &.end {
    width: 13px;
    height: 13px;
  }
}

.event-start {
  position: relative;
  width: 13px;
  height: 13px;
  border-radius: 100%;
  border: 3px solid #3b3b3b;
  opacity: 0.4;
  transition: opacity 200ms linear 0ms;
  &.is-active {
    opacity: 1;
  }
  &:hover {
    opacity: 1;
  }
  &:hover > .event-title {
    visibility: visible;
  }
}

.event-end {
  position: relative;
  width: 13px;
  height: 13px;
  border-radius: 100%;
  border: 3px solid #3b3b3b;
  opacity: 0.4;
  transition: opacity 200ms linear 0ms;
  &.is-active {
    opacity: 1;
  }
  &:hover {
    opacity: 1;
  }
  &:hover > .event-title {
    visibility: visible;
  }
}

.interval {
  height: 1px;
  background-color: #00D86E;
  width: 80px;
  opacity: 0.4;
  transition: transform 300ms linear 0ms, background-color 300ms linear 0ms, opacity 300ms linear 0ms;
  &.is-done {
    opacity: 1;
  }
}

.opacity-none {
  opacity: 1;
}

.hidden-timeline {
  visibility: hidden;
}

.event-title {
  position: absolute;
  bottom: 30px;
  color: black;
  font-weight: 300;
  font-size: 15px;
  width: 400px;
  visibility: hidden;
  transition: visibility 200ms linear 0ms;
  z-index: 2000 !important;
}
